---
import Base from '../layouts/Base/Base.astro';
import {Markdown} from 'astro/components'
---
<style>
	 p { color: green; }
</style>
<Base title='Home'>
<div class="container my-5">
	<h2>Home Page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate accusamus odit illo, praesentium corporis et? Dolor, deleniti excepturi. Debitis illo qui distinctio iure rem ut laudantium necessitatibus vitae officiis maxime.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate accusamus odit illo, praesentium corporis et? Dolor, deleniti excepturi. Debitis illo qui distinctio iure rem ut laudantium necessitatibus vitae officiis maxime.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate accusamus odit illo, praesentium corporis et? Dolor, deleniti excepturi. Debitis illo qui distinctio iure rem ut laudantium necessitatibus vitae officiis maxime.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate accusamus odit illo, praesentium corporis et? Dolor, deleniti excepturi. Debitis illo qui distinctio iure rem ut laudantium necessitatibus vitae officiis maxime.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate accusamus odit illo, praesentium corporis et? Dolor, deleniti excepturi. Debitis illo qui distinctio iure rem ut laudantium necessitatibus vitae officiis maxime.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate accusamus odit illo, praesentium corporis et? Dolor, deleniti excepturi. Debitis illo qui distinctio iure rem ut laudantium necessitatibus vitae officiis maxime.</p>
</div>
<Markdown>
	# This is some markdown here.But what we can do with this ?
</Markdown>
</Base>